{{define "main/index.html"}}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="lankaiyun, lanKaiYun, 蓝凯云, 蓝凯云官网">
        <meta name="description"
              content="蓝凯云是一家互联网公司，致力于开发出简洁、好用的软件。">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>lanKaiYun 蓝凯云</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/libs.bundle.css">
        <link rel="stylesheet" href="/static/css/index.bundle.css">
    </head>
    <body class="headroom headroom--not-bottom headroom--pinned headroom--top" data-aos-easing="ease"
          data-aos-duration="800" data-aos-delay="0">
    {{template "public/header-white.html"}}
    <div class="offcanvas-wrap">
        <!-- hero -->
        <section class="bg-black inverted overflow-hidden">
            <div class="container py-20 d-flex flex-column min-vh-100 foreground">
                <div class="row my-auto justify-content-center">
                    <div class="col-lg-6 text-center skrollable skrollable-before"
                         data-center-center="transform: translateY(0%);" data-top-bottom="transform: translateY(10%);"
                         style="transform: translateY(0%);">
                        <span class="badge bg-opaque-red rounded-pill text-cyan mb-4">lanKaiYun</span>
                        <h1 class="display-1 text-shadow">遇见更好的自己</h1>
                    </div>
                </div>
            </div>
            <figure class="background background-gradient-vertical aos-init aos-animate" data-aos="zoom-out"
                    data-aos-delay="400">
                <!-- 左上 -->
                <img class="w-40 shadow position-absolute top-30 end-30 skrollable skrollable-between"
                     src="/static/img/banner/lotos.png" alt="xia" data-center-top="transform: translateY(0%);"
                     data-top-bottom="transform: translateY(-80%);" style="transform: translateY(-24.2697%);">
            </figure>
            <span class="scroll-down"></span>
        </section>
        <!-- 使命.. -->
        <section class="py-15 py-xl-20">
            <div class="container">
                <div class="row g-3 g-xl-5 mb-5">
                    <div class="col-lg-6">
                        <h2>使命</h2>
                    </div>
                </div>
                <div class="row g-3 g-xl-5">
                    <div class="pb-10 text-center aos-init aos-animate" data-aos="fade-up">
                        <h4 class="fs-5">让信息技术便利人们的生活</h4>
                    </div>
                </div>
                <div class="row g-3 g-xl-5 mb-5">
                    <div class="col-lg-6">
                        <h2>愿景</h2>
                    </div>
                </div>
                <div class="row g-3 g-xl-5">
                    <div class="pb-10 text-center aos-init aos-animate" data-aos="fade-up">
                        <h4 class="fs-5">成为中国最有温度的互联网公司</h4>
                    </div>
                </div>
                <div class="row g-3 g-xl-5 mb-5">
                    <div class="col-lg-6">
                        <h2>价值观</h2>
                    </div>
                </div>
                <div class="row g-3 g-xl-5">
                    <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up">
                        <i class="bi bi-emoji-smile fs-1 text-cyan"></i>
                        <h4 class="fs-5 mt-2">真诚真实</h4>
                        <p class="text-secondary mx-2">真诚待人，力量源于真实</p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up"
                         data-aos-delay="100">
                        <i class="bi bi-globe2 fs-1 text-cyan"></i>
                        <h4 class="fs-5 mt-2">与时俱进</h4>
                        <p class="text-secondary mx-2">积极学习和接受先进的新事物</p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up"
                         data-aos-delay="200">
                        <i class="bi bi-cloud-haze2-fill fs-1 text-cyan"></i>
                        <h4 class="fs-5 mt-2">放手去做</h4>
                        <p class="text-secondary mx-2">不设限，实践出真知</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 订阅 -->
        <section class="bg-primary mx-xl-3 py-15 py-xl-20 inverted overflow-hidden">
            <div class="container level-1">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="fw-light mb-5"><span class="fw-bold">订阅我们</span>
                            我们将最新的产品信息发送到您的邮箱
                        </h2>
                        <div class="grouped-inputs p-1 border rounded-pill mb-2">
                            <div class="row g-1">
                                <div class="col-lg-9">
                                    <input type="email" class="form-control px-4 rounded-pill"
                                           aria-label="Text input with dropdown button" id="email"
                                           placeholder="您的邮箱">
                                </div>
                                <div class="col-lg-3 d-grid">
                                    <button class="btn btn-white rounded-pill" id="btnSubscribe">订阅</button>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">我们承诺永远不会泄漏您的邮箱！</small>
                    </div>
                </div>
            </div>
            <figure class="background background-overlay background-parallax skrollable skrollable-between"
                    style="background-image: url('/static/img/banner/keji.jpg'); transform: translateY(7.4788%);"
                    data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(20%);">
            </figure>
        </section>
        <div class="py-10"></div>
        <!-- footer -->
        {{template "public/footer.html"}}
    </div>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/vendor.bundle.js"></script>
    <script src="/static/js/index.bundle.js"></script>
    <script src="/static/js/sweetalert2.all.min.js"></script>
    <script>
        function isValidEmail(email) {
            // 正则表达式用于检测邮箱格式
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        $("#btnSubscribe").click(() => {
            let email = $("#email").val();
            if (isValidEmail(email)) {
                $.ajax({
                    url: "/addSubscription",
                    type: "POST",
                    data: {"email": email},
                    dataType: "json",
                    success: function (data) {
                        if (data["result"] === "1") {
                            Swal.fire({
                                icon: "success",
                                title: "订阅成功🎉",
                            });
                        } else {
                            Swal.fire("该邮箱已订阅！");
                        }
                    },
                })
            } else {
                Swal.fire({
                    icon: "error",
                    title: "邮箱格式似乎有点问题🥹",
                });
            }
        });
    </script>
    </body>
    </html>
{{end}}