{{define "public/footer.html"}}
    <footer class="py-5 py-xl-10 border-top bg-black inverted">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="#" class="navbar-brand"><img src="/static/img/logo-color.png" alt="Logo"></a>
                </div>
                <div class="col-md-8 text-center text-md-start text-muted">
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"
                                            class="text-reset text-primary-hover">赣ICP备2024022924号-1</a></li>
                        <li class="mb-1"><a href="https://beian.mps.gov.cn/#/query/webSearch?code=36032202000077"
                                            target="_blank"
                                            class="text-reset text-primary-hover">赣公网安备36032202000077号</a>
                        </li>
                        <li class="mb-1">© lanKaiYun | 萍乡蓝凯云信息技术有限公司</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{{end}}